<p id="notice"><%= notice %></p>

<h1>Responses</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Leadership score</th>
      <th scope="col">Communication score</th>
      <th scope="col">Contribution score</th>
      <th scope="col">Quality score</th>
      <th scope="col">Skills score</th>
      <th scope="col">Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= response.leadership_score %></td>
        <td><%= response.communication_score %></td>
        <td><%= response.contribution_score %></td>
        <td><%= response.quality_score %></td>
        <td><%= response.skills_score %></td>
        <td><%= response.comment %></td>
        <td><%= link_to 'Show', response %></td>
        <td><%= link_to 'Edit', edit_response_path(response) %></td>
        <td><%= link_to 'Delete', response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', root_path, :class => "btn btn-primary btn-sm" %>
